*{
    margin: 0;
    padding: 0;
    list-style: none;
}
a{
    text-decoration-line: none;
    color: inherit;
}
body{
    background-color: #f4f4f4;
    color: #3c3c3c;
    overflow-x: hidden;
    font: 12px/1.5 tahoma,arial,'Hiragino Sans GB','\5b8b\4f53',sans-serif;
}
.wrap1190{
    width: 1190px;
    margin: 0 auto;
}
.wrap990{
    width: 990px;
    margin: 0 auto;
}
.header{
    height: 35px;
    border-bottom: 1px solid rgb(239, 239, 239);
    background-color: rgb(246, 246, 246); 
}
.header .header-l{
    float: left;
}
.header .header-r{
    float: right;
}
.header li{
    display: inline-block;
    line-height: 35px;
}
.header li div{
    padding: 0 6px;
}
.region{
    margin-right: 7px;
}
.search{
    background: #fff;
    padding-top: 24px;
    height: 97px;
}
.tbh-nav{
    height: 30px;
    line-height: 30px;
    color: #fff;
}
.tb-bg{
    background: linear-gradient(to right,#ff9000,#ff5000);
}
.screen-outer{
    width: 990px;
    height: 690px;
}
.tbh-nav h2{
    float: left;
    width: 190px;
    text-align: center;
    font-size: 16px;
    background: #ff5000;
}
.tbh-nav ul,.tbh-nav li{
    float: left;
    color: #fff;
}
.tbh-nav .nav-hd li{
    font-size: 16px;
    margin: 0 3px;
    padding: 0 4px;
}
.tbh-nav .nav-hd li a{
    padding: 0 5px;
    color: inherit;
    font-weight: 700;
}
.tbh-nav .nav-bd li{
    font-size: 14px;
    margin-left: 7px; 
}
.tbh-nav .nav-bd li a{
    padding: 0 5px;
    color: inherit;
    font-weight: 700;
}
.tbh-nav .nav-bd li::before{
    content: '\E606';
    font-family: iconfont;
    color: #FF5000;
    top: -19px;
    position: absolute;
    margin: -15px;
    left: 50%;
}
.tbh-logo{
    float: left;
    width: 190px;
    padding-top: 8px;
}
.logo-bd{
    background: url(http://img.alicdn.com/tfs/TB1_uT8a5ERMeJjSspiXXbZLFXa-143-59.png) 0 0 no-repeat;
    width: 142px;
    display: block;
    padding-top: 59px; 
    height: 0;
    overflow: hidden;
    margin-left: 22px; 
}
.tbh-search{
    margin-left: 258px;
    margin-right: 302px;
    position: relative; 
}
.tbh-search .search-tab{
    float: left;
    margin-right: 4px;
    color: #f40;
    width: 36px;
    height: 22px;
    text-align: center;
    line-height: 22px;  
}
.tbh-search .search-tab.selected{
    background: linear-gradient(to right,#ff9000,#ff5000);
    border-radius: 6px 6px 0 0/ 6px 6px 0 0;
    color: #fff;
    font-weight: 700;
}
.search-bd ul{
    margin-left: 17px;
    height: 22px;
}

.btn-search{
    position: absolute;
    right: 0;
    font-size: 18px;
    font-weight: 700;
    display: block;
    width: 74px;
    height: 40px;
    border: none;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    color: #fff;
}
.search-panel-fields{
    margin-right: 74px;
    height: 36px;
    border: 2px solid #ff5000;
    border-right: none;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.screen-outer{
    width: 1190px;
    margin: 0 auto;
    height: 632px;
}
.screen-outer .main{
    float: left;
    width: 900px;
    height: 100%;
}
.screen-outer .col-right{
    float: right;
    width: 290px;
    height: 100%;
    margin-top: 10px;
}
.clear-fix::after,.clear-fix::before{
    display: block;
    clear: both;
    content: " ";
}
.tbh-service{
    position: relative;
    float: left;
    width: 190px;
    height: 522px;
    font-size: 14px;
}
.service-bd{
    border: 1px solid #ff5000;
    border-top: none;
    padding: 5px 0 3px 0; 
    background-color: #fff;
}
.service-bd li{
    padding: 0 19px 0 25px;
    height: 32px;
    line-height: 32px;
    width: 145px;
    color: #666;
    font-size: 14px;
    font-weight: 400;
    overflow: hidden;
}
.service-bd li:hover{
    color: #ff3f00;
    background: #ffe3db;
}
.service-bd i{
    position: absolute;
    right: 10px;
}
.service-float{
    width: 692px;
    height: 518px;
    border: 2px solid #f94a14;
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 188px;
    box-shadow: 2px 2px 0 #dcdadb;
    display: none;
}
.core{
    margin-top: 10px;
    margin-left: 10px;
    float: left;
    height: 512px;
    width: 520px;
}
.tbh-promo{
    width: 520px;
    height: 280px;
    overflow: hidden;
    background-color: #aaa;
    position: relative;
}
.tbh-tmall{
    width: 520px;
    height: 230px;
    margin-top: 1px;
    position: relative;
    overflow: hidden;
    background-color: #fff; 
}
.sub-column{
    float: right;
    width: 160px;
    height: 512px;
    margin-right: 10px;
    margin-top: 10px;
    
}
.sub-column .tbh-focus{
    height: 280px;
    background-color: blue;
}
.sub-column .hb-tanx{
    height: 230px;
    margin-top: 1px;
    background-color: purple;
}
.tbh-headline{
    width: 890px;
    height: 100px;
    background-color: #fff;
    margin-top: 10px;
    
}
.col-right{
    width: 890px;
    height: 100px;
    background-color: #555;

}