*{
    margin: 0;
    padding: 0;
}
h1{
    color: white;
    background: grey;
    padding: 15px;
    font-size: 15px;
}
h2{
    width: 70px;
    height: 70px;
    background: rgb(210, 210, 210);
    text-align: center;
    line-height: 70px;
    font-size: 10px;
    border-bottom: 1px solid white;
    float: left;
}
.clear_line{
    clear: both;
}
.inlineList{
    display: inline-block;
}
dd,dt{
    font-size: 10px;
    display: inline;
}
dl{
    border-bottom: 1px solid grey;
    height: 70px;
}
dt{
    font-weight: 600;
    margin: 10px;
}