@import "reset.css";
@font-face {
    font-family: 'iconfont';
    src: url('../font/iconfont.eot');
    src: url('../font/iconfont.eot?#iefix') format('embedded-opentype'),
        url('../font/iconfont.woff2') format('woff2'),
        url('../font/iconfont.woff') format('woff'),
        url('../font/iconfont.ttf') format('truetype'),
        url('../font/iconfont.svg#iconfont') format('svg');
}
.iconfont {
    font-family: "iconfont" !important;
    font-size: 12px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
/* 头部信息 */
.header{
    height: 35px;
    border-bottom: 1px solid #efefef;
    background-color: rgb(246, 246, 246); 
}
.header li{
    display: inline-block;
    line-height: 35px;
    padding: 0 6px;
}
.header a,.region{
    margin-right: 7px;
}
.header a:hover,.hot{
    color: #f40;
}

/* 搜索栏 */
.search{
    background: #fff;
    padding-top: 24px;
    height: 97px;
}
.logo-bd{
    background: url(../image/logo.png) no-repeat;
    display: block;
    width: 145px;
    height: 65px;
    text-indent: -9999px;
    overflow: hidden;
    position: relative;
    top: 6px;
    left: 25px;
}
.search .code{
    right: 30px;
    top: -10px;
    position: relative;
}
.search .code img{
    width: 60px;
    height: 60px;
    display: block;
}
.search .code span{
    text-align: center;
    display: block;
}
/* 搜索控件 */
.tbh-search{
    margin-left: 258px;
    margin-right: 302px;
    position: relative; 
}
.tbh-search .search-tab{
    float: left;
    margin-right: 4px;
    color: #f40;
    width: 36px;
    height: 22px;
    text-align: center;
    line-height: 22px;  
}
.tbh-search .search-tab.selected{
    background: linear-gradient(to right,#ff9000,#ff5000);
    border-radius: 6px 6px 0 0/ 6px 6px 0 0;
    color: #fff;
    font-weight: 700;
}
.search-bd ul{
    margin-left: 17px;
    height: 22px;
}

.btn-search{
    position: absolute;
    right: 0;
    font-size: 18px;
    font-weight: 700;
    display: block;
    width: 74px;
    height: 40px;
    border: none;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    color: #fff;
}
.search-panel-fields{
    margin-right: 74px;
    height: 36px;
    border: 2px solid #ff5000;
    border-right: none;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    position: relative;
    color: #9b9b9b;
}
#search-panel{
    width: 300px;
    padding: 10px 0;
    border: none;
    margin-left: 10px;
    background-color: transparent;
    outline: none;
    position: absolute;
    z-index: 2;
}
.search-panel-fields .placeholder{
    position: absolute;
    top: 5px;
    left: 10px;
}
.search-panel-fields .iconfont{
    font-size: 20px;
}
.search-panel-fields .placeholder span{
    vertical-align: 4px;
}
.search-panel-fields .camera{
    position: absolute;
    top: 5px;
    right: 10px;
}
.search .hotKey a:hover{
    color: #F40;
}

/* 导航栏 */
.tbh-nav{
    line-height: 30px;
    color: #fff;
}
.tb-bg{
    background: linear-gradient(to right,#ff9000,#ff5000);
}

.tbh-nav h2{
    float: left;
    width: 190px;
    text-align: center;
    font-size: 16px;
    background: #ff5000;
}
.tbh-nav ul,.tbh-nav li{
    float: left;
    color: #fff;
}
.tbh-nav li{
    position: relative;
}
.tbh-nav .nav-hd li{
    font-size: 16px;
    margin: 0 3px;
    padding: 0 4px;
}
.tbh-nav li:hover::before{
    content: "";
    display: block;
    background: url(../image/taohead.png)  no-repeat;
    background-size: cover;
    width: 30px;
    height: 16px;
    position: absolute;
    top: -15px;
    left: 50%;
    margin-left: -15px;
}
.tbh-nav .nav-hd li a{
    padding: 0 5px;
    color: inherit;
    font-weight: 700;
}
.tbh-nav .nav-bd li{
    font-size: 14px;
    margin-left: 7px; 

}
.tbh-nav .nav-bd li a{
    padding: 0 5px;
    color: inherit;
    font-weight: 700;
}


/* 导航屏 */


.screen-outer .main{
    float: left;
    width: 900px;
    height: 100%;
}
.screen-outer .col-right{
    float: right;
    width: 290px;
    height: 624px;
    margin-top: 10px;
    background-color: #fff;
}

.tbh-service{
    position: relative;
    float: left;
    width: 190px;
    height: 522px;
    font-size: 14px;
}
.service-bd{
    border: 1px solid #ff5000;
    border-top: none;
    padding: 5px 0 3px 0; 
    background-color: #fff;
}
.service-bd li{
    padding: 0 19px 0 25px;
    height: 32px;
    line-height: 32px;
    width: 145px;
    color: #666;
    font-size: 14px;
    font-weight: 400;
    overflow: hidden;
    transition: all 0.3s;
}
.service-bd li:hover{
    color: #ff3f00;
    background: #ffe3db;
}
.service-bd li:hover a{
    color: #ff3f00;
}
.service-bd a:hover{
    text-decoration: underline;
}
.service-bd i{
    position: absolute;
    right: 10px;
}
.service-float{
    width: 692px;
    height: 518px;
    border: 2px solid #f94a14;
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 188px;
    box-shadow: 2px 2px 0 #dcdadb;
    display: none;
}
.core{
    margin-top: 10px;
    margin-left: 10px;
    float: left;
    height: 512px;
    width: 520px;
}
.tbh-promo{
    width: 520px;
    height: 280px;
    overflow: hidden;
    background-color: #aaa;
    position: relative;
}
.tbh-tmall{
    width: 520px;
    height: 230px;
    margin-top: 1px;
    position: relative;
    overflow: hidden;
    background-color: #fff; 
}
.sub-column{
    float: right;
    width: 160px;
    height: 512px;
    margin-right: 10px;
    margin-top: 10px;
    
}
.sub-column .tbh-focus{
    height: 280px;
    background-color: blue;
}
.sub-column .hb-tanx{
    height: 230px;
    margin-top: 1px;
    background-color: purple;
}
.tbh-headline{
    width: 856px;
    height: 75px;
    background-color: #fff;
    margin-top: 10px;
    padding: 14px 14px 12px 20px;
    position: relative;
}
.tbh-headline .headline-hd{
    width: 180px;
    height: 73px;
    float: left;
    background: url(http://img.alicdn.com/tfs/TB1KbhkbUgQMeJjy0FeXXXOEVXa-129-26.png) 0 14px no-repeat;
}
.tbh-headline .headline-hd p{
    margin-top: 42px;
    line-height: 24px;
    height: 24px;
    color: #999;
    font-weight: 400;
}
.tbh-headline .more{
    position: absolute;
    top: 14px;
    right: 16px;
}
.headline-bd{
    height: 73px;
    width: 676px;
    overflow: hidden;
    position: relative;
    margin-left: 180px;
}
.headline-bd .slide{
    position: absolute;
    height: 219px;
    top: 0px;
    transform: translateY(-73px);
    transition-duration: 0.3s;
}
.headline-bd .slide .mod{
    height: 73px;
    width: 676px;
}
.headline-bd a{
    display: block;
    height: 73px;
}
.headline-bd .mod img{
    float: left;
    height: 73px;
    width: 130px;
} 
.headline-bd .mod h4{
    margin-top: 2px;
    margin-left: 144px;
    color: #333;
    height: 28px;
    display: block;
    line-height: 28px;
    font-size: 16px;
    font-weight: 500;
}
.headline-bd .mod p{
    margin-left: 144px;

}

.col-right{
    width: 890px;
    height: 100px;

}
.tbh-member{
    width: 290px;
    height: 145px;
}
.tbh-tipoff{
    text-align: center;
    color: #f40;
    background: #ffe4dd;
    line-height: 26px;
    height: 26px;
    position: relative;
}
.tbh-tipoff .triangle{
    border: solid;
    border-width: 5px 0 5px 7px;
    border-color:transparent transparent transparent #f40; 
    display: block;
    position: absolute;
    right: 35px;  
    top: 9px;
}
.tbh-notice .notice-hd{
    position: relative;
    height: 24px;
    margin-top: 4px;
    margin-right: -2px;
    padding: 0 8px;
}
.notice-hd li{
    float: left;
    line-height: 20px;
    text-align: center;
    width: 32px;
    margin: 0 11px;
}
.notice-hd .selected{
    padding: 0;
    font-weight: 700;
    border-bottom: 2px solid #f40;
}
.notice-bd .mod{
    height: 50px;
    overflow: hidden;
    padding: 9px 0 6px 0;
    margin: 0 12px;
}
.hidden{
    display: none;
}
.notice-bd .mod li{
    float: left;
    width: 130px;
    height: 25px;
    line-height: 25px;
    overflow: hidden;
}
.conve-list{
    border-top: 1px solid #f4f4f4;
    width: 294px;
}
.conve-list .mod{
    float: left;
    width: 71px;
    height: 75px;
    border: 1px solid #f4f4f4;
    border-left-color: transparent;
    border-top-color: transparent;
    text-align: center;
}
.conve-list span{
    background: url(https://img.alicdn.com/tfs/TB1eiXTXlTH8KJjy0FiXXcRsXXa-24-595.png) 0 0 no-repeat;
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-top: 11px;
}
.conve-list p{
    line-height: 24px;
}
.conve-list .conve-item-1 span{
    background-position-y: 0;
}
.conve-list .conve-item-2 span{
    background-position-y: -87px;
}
.conve-list .conve-item-3 span{
    background-position-y: -44px;
}
.conve-list .conve-item-4 span{
    background-position-y: -132px;
}
.conve-list .conve-item-5 span{
    background-position-y: -176px;
}
.conve-list .conve-item-6 span{
    background-position-y: -220px;
}
.conve-list .conve-item-7 span{
    background-position-y: -264px;
}
.conve-list .conve-item-8 span{
    background-position-y: -308px;
}
.conve-list .conve-item-9 span{
    background-position-y: -352px;
}
.conve-list .conve-item-10 span{
    background-position-y: -396px;
}
.conve-list .conve-item-11 span{
    background-position-y: -440px;
}
.conve-list .conve-item-12 span{
    background-position-y: -484px;
}
.tbh-app{
    position: relative;
    height: 110px;
}
.tbh-app h3{
    font-size: 14px;
    padding-left:14px;
    height: 30px;
    line-height: 30px; 
}
.tbh-app h3 a{
    position: absolute;
    right: 5px;
}
.apps-nav{
    padding-left: 23px;
}
.apps-nav li{
    position: relative;
    float: left;
    width: 32px;
    height: 32px;
    margin-right:21px;
    margin-bottom:8px;  
}
.apps-nav li span{
    display: block;
    width: 35px;
    height: 32px;
    background: url(image/appicon.png) 0 0 no-repeat;
}
.apps-nav .app-qr{
    position: absolute;
    top: -100px;
    left: -25px;
    display: none;
}
.apps-nav .app-icon2{
    background-position: -53px 0;
}
.apps-nav .app-icon3{
    background-position: -106px 0;
}
.apps-nav .app-icon4{
    background-position: -159px 0;
}
.apps-nav .app-icon5{
    background-position: -213px 0;
}
.apps-nav .app-icon6{
    background-position: 0px -40px;
}
.apps-nav .app-icon7{
    background-position: -53px -40px;
}
.apps-nav .app-icon8{
    background-position: -106px -40px;
}
.apps-nav .app-icon9{
    background-position: -159px -40px;
}
.apps-nav .app-icon10{
    background-position: -212px -40px;
}